body{
    height: 100%;
}
.height {
    height: 916px;
}
header, nav {
    background-color: aqua;
    height: 10%;
}
nav {
    text-align: center;
    letter-spacing: 20px;
    font-size: 30px;
}
main {
    background-color:bisque;
    height: 80%;
}
footer {
    background-color: azure;
    height: 10%;
}
main > section{
    margin: 10px;
    background-color: aquamarine;
    height: 20%;
}
main > .main {
    height: 50%;
    margin: 20px;
    background-color: cornflowerblue;
}
div > header, div > nav {
    float: left;
}
a {
    text-decoration: none;
    color: black;
}
a :hover {
    color: white;
}
/* Dropdown menu */
.userBtn {
    cursor: pointer;
}